/* static/styles.css */

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
}

h2 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: #4CAF50;
  display: block;
  text-align: center;
  margin-top: 10px;
}

p {
  color: red;
  text-align: center;
}
.dashboard-container {
  background-color: rgb(226, 226, 226);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.logout-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #ff4d4d;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #e60000;
}
.dashboard{
  background-color: #e60000;
}
